{% extends 'base.html' %}
{% block content %}
<div class="container-fluid min-vh-100 d-flex flex-column">
  <div class="row flex-grow-1 align-items-center">
    <div class="col"></div>
    <div class="col">
      <form action="login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}